.navbar-top-links {
    min-height: 60px;
    padding: 13px 0;
}
#side-menu>li>ul>.nav-header {
    padding: 0;
}
.pull-content .panel-heading {
    padding-bottom: 10px;
}
.pull-content .panel-footer {
    text-align: center;
    align-self: flex-end;
    width: 100%;
}
.pull-content .panel-footer>button {
    margin-top: 10px;
}
.pull-content .panel-default {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.pull-content .panel-body {
    flex-grow: 1;
}
.style-pull-card {
    display: block;
}
.datepicker.dropdown-menu {
    z-index: 11111111 !important;
}
.row-flex {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.col-flex {
    display: flex;
    flex-basis: 25%;
}
.btn-block-style {
    margin-bottom: 10px;
}
.article-title h1 {
    font-size: 36px;
    font-weight: 700;
    color: #2f4050;
}
.article {
    font-size: 14px;
}
.note-editable {
    background: white;
    height: 220px;
}
.select-style .input-group {
    width: 100%;
}
.select-style input {
    width: 100% !important;
}
.navbar-top-links .img-circle {
    width: 32px;
    display: inline-block;
}

.navbar-top-links .styling-settings {
    padding: 0;
    min-height: 32px;
    line-height: 32px;
    margin-left: 5px;
    display: inline-block;
}
.navbar-top-links .open>.styling-settings:hover, .navbar-top-links .open>.styling-settings:focus {
    background-color: transparent;
}
.nav.navbar-top-links>li>a:focus, .nav.navbar-top-links>li>a:hover {
    background: transparent;
}

.navbar-top-links .count-info {
    padding: 0 10px 0 0;
    min-height: 32px;
}

.count-info .label {
    top: -7px;
}
.nav-header {
    padding: 9px 25px;
}
.nav-header .profile-element {
    width: 170px;
}
.profile-element .font-bold {
    color: #ffffff;
    font-size: 20px;
    display: inline-block;
    margin-top: 10px;
}
.profile-element .user-icon {
    margin-top: -10px;
}
.new-navbar {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
}
.logo-element {
    padding: 0;
}
body.mini-navbar .nav-header {
    padding: 9px 0;
}




