.navbar-top-links {
    min-height: 60px;
    padding: 13px 0;
}
#side-menu>li>ul>.nav-header {
    padding: 0;
}
#side-menu>li {
    width: 220px;
    -webkit-transition: ease 0.7s; /* Safari */
    transition: ease 0.7s;
}
#side-menu>li>a {
    -webkit-transition: ease 0.7s; /* Safari */
    transition: ease 0.7s;
}
.mini-navbar #side-menu>li {
    width: 70px;
}
.pull-content .panel-heading {
    padding-bottom: 10px;
}
.pull-content .panel-footer {
    text-align: center;
    align-self: flex-end;
    width: 100%;
}
.pull-content .panel-footer>button {
    margin-top: 10px;
}
.pull-content .panel-default {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.pull-content .panel-body {
    flex-grow: 1;
}
.style-pull-card {
    display: block;
}
.datepicker.dropdown-menu {
    z-index: 11111111 !important;
}
.row-flex {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.col-flex {
    display: flex;
    flex-basis: 25%;
}
.btn-block-style {
    margin-bottom: 10px;
}
.article-title h1 {
    font-size: 36px;
    font-weight: 700;
    color: #2f4050;
}
.article {
    font-size: 14px;
}
.note-editable {
    background: white;
    height: 220px;
}
.select-style .input-group {
    width: 100%;
}
.select-style input {
    width: 100% !important;
}
.navbar-top-links .img-circle {
    width: 32px;
    height: 32px;
    object-fit: cover;
    display: inline-block;
}

.navbar-top-links .styling-settings {
    padding: 0;
    min-height: 32px;
    line-height: 32px;
    margin-left: 5px;
    display: inline-block;
}
.navbar-top-links .open>.styling-settings:hover, .navbar-top-links .open>.styling-settings:focus {
    background-color: transparent;
}
.nav.navbar-top-links>li>a:focus, .nav.navbar-top-links>li>a:hover {
    background: transparent;
}

.navbar-top-links .count-info {
    padding: 0;
    min-height: 32px;
}
.nav-header {
    padding: 6px 25px;
}
.nav-header .profile-element {
    width: 170px;
    color: #ffffff;
    font-size: 20px;
}
.profile-element .font-bold {
    color: #ffffff;
    font-size: 20px;
    display: inline-block;
    margin-top: 10px;
}
.profile-element strong {
    margin-left: 5px;
}
.profile-element .user-icon {
    margin-top: -3px;
    padding: 8px 0;
}
.new-navbar {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
}
.logo-element {
    padding: 6px 0;
}
.sidebar-collapse {
    overflow-x: hidden;
}
body.mini-navbar .nav-header {
    padding: 6px 0;
}

.contact-box:hover {
    cursor: pointer;
}

.navbar-static-top {
    background: #ffffff;
}

.wrapper {
    margin-top: 10px;
}
.clip {
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
}

#page-wrapper, .new-navbar {
    -webkit-transition: ease 0.7s; /* Safari */
    transition: ease 0.7s;
}
.navbar-top-links>li {
    border-right: 2px solid #bfc2c4;
    line-height: 32px;
    padding: 0 25px;
    height: 32px;
    float: left;
}
.navbar-top-links>li:last-child {
    border-right: none;
    padding: 0 0 0 25px;
}
.navbar-top-links>li>button {
    border: none;
    outline: none;
    margin-top: -3px;
}
.bell>a>i {
    margin-top: 12px;
}
.bell>a>span {
    top: 2px !important;
    right: -2px !important;
}
.modal-dialog .modal-footer {
    margin-top: 0;
}
.link-btn {
    text-align: center !important;
    color: #428bca !important;
}
body .navbar-default .nav>li>a {
    font-size: 15px;
}
body.mini-navbar .navbar-default .nav>li>a {
    font-size: 15px;
}
.notification-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.notification-wrap span {
    margin-left: 10px;
    line-height: 15px;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 63px;
}
.balance-style {
    font-size: 16px !important;
}
.image-store {
    width: 100px;
}
.default-style-ol {
    padding-left: 12px;
}

@media only screen and (min-width: 768px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}
.fileContainer {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    color: #4A4A4A;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    border: 1px solid #CFCFCF;
    border-radius: 3px;
    background-color: #CFCFCF;
    max-width: 300px;
}
.fileContainer img {
    height: 100px;
    width: 100%;
    object-fit: cover;
    display: none;
    opacity: 0.8;
}
.fileContainer .select-text {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 100px;
    text-align: center;
    width: 100%;
}
.fileContainer .name-text {
    padding: 10px;
    background-color: #ffffff;
    position: relative;
    margin-bottom: 0;
}
.fileContainer .name-text.loaded:after {
    content: "\f046";
    position: absolute;
    color: #1ab394;
    right: 10px;
    font: normal normal normal 18px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 0;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}